/* Estilos para el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* Estilos para los encabezados */
h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #555;
}

/* Estilos para los párrafos */
p {
  color: #666;
  margin-bottom: 20px;
}

/* Estilos para el pie de página */
footer {
  text-align: center;
  margin-top: 50px;
}

/* Estilos para la lista de enlaces en el pie de página */
footer ul {
  list-style-type: none;
}

footer ul a {
  color: #555;
  text-decoration: none;
}

/* Estilos para las imágenes */
img {
  border-radius: 5px;
  margin: 10px;
}

/* Estilos para los elementos con nombre */
A[name="MISION" ] {
  display: block;
  margin-top: -80px; /* Ajustar según sea necesario */
font-size: 25px;
text-align: center;
color: #23BA9C;
}
A[name="VISION" ] {
  display: block;
  margin-top: -80px; /* Ajustar según sea necesario */
font-size: 25px;
text-align: center;
color: #23BA9C;
}
A[name="VALORES" ] {
  display: block;
  margin-top: -80px; /* Ajustar según sea necesario */
font-size: 25px;
text-align: center;
color: #23BA9C;
}

/* Estilos para los enlaces */
a {
  font-size: 25PX;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para las listas */
ul {
  margin-left: 20px;
}

ol {
  margin-left: 20px;
}

/* Estilos para los elementos hr */
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Estilos para el formulario */
form {
  margin-top: 20px;
}

/* Estilos para los elementos de contacto */
.contact-info {
  font-size: 14px;
  margin-top: 10px;
}

/* Estilos para el pie de página pequeño */
small {
  font-size: 12px;
  color: #888;
}

/* Estilos para el encabezado del pie de página */
footer h6 {
  font-size: 10px;
  color: #888;
  text-align: center;
  margin-top: 20px;
}


/* Estilos para la tabla */
table {
  width: 100%; /* Ancho de la tabla al 100% del contenedor */
  border-collapse: collapse; /* Colapsar bordes de celda */
  margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos para las celdas encabezado */
th {
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px; /* Espaciado interno */
  text-align: left; /* Alineación del texto */
  border: 5px solid #ddd; /* Borde de celda */
}

/* Estilos para las celdas de datos */
td {
  padding: 10px; /* Espaciado interno */
  text-align: left; /* Alineación del texto */
  border: 5px solid #ddd; /* Borde de celda */
}

/* Estilos para filas impares (alternar color de fondo) */
tr:nth-child(odd) {
  background-color: #f2f2f2; /* Color de fondo alternativo */
}
